#sidebar{
    background-color: grey;
    width: 400px;
    height: 500px;
    padding: 10px;

}
#sidebar h2{
    color: white;
    font-size: 30px;
    text-align: center;

}
#sidebar h3{
    background-color: white;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}